.feature-section {
    padding: 88px 0;

    &-block {
        margin-bottom: 40px;

        cursor: pointer;

        &__image {
            margin-bottom: 30px;

            feFlood {
                transition: flood-color .5s ease-in-out;
            }
        }

        &__title {
            margin-bottom: 22px;

            transition: color .5s;
        }

        &__description {
            margin-bottom: 30px;

            line-height: 1.7;

            color: $description-color-2;
        }

        &__line {
            width: 70px;
            height: 3px;
    
            margin: 0 auto;

            transition: background-color .5s ease-in-out;
    
            background-color: $line-color;
        }

        &:hover {

            .feature-section-block__image {

                feFlood {
                    flood-color: $brand-color;
                }
            }

            .feature-section-block__title {
                color: $brand-color;
            }

            .feature-section-block__line {
                background-color: $brand-color;
            }
        }
    }
}