.post-section {
    padding: 82px 0;

    &-header {

        &__title {
            text-transform: capitalize;

            margin-bottom: 30px;
        }

        &__description {
            max-width: 760px;

            margin: 0 auto 40px auto;
        }
    }

    &-card {
        max-width: 370px;

        margin: 0 auto;

        cursor: pointer;

        &-img {
            position: relative;

            &__image {
                max-width: 100%;
                height: auto;

                transition: all .5s ease-in-out;
            }

            &-date {
                position: absolute;
                top: 20px;
                left: 20px;

                &__number {
                    display: block;

                    font-family: 'Montserrat';
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 0.8;
                    text-align: center;

                    padding: 10px;

                    border-radius: 4px 4px 0 0;

                    transition: all .5s ease-in-out;

                    background-color: $contact-date-color;
                    color: #fff;
                }

                &__month {
                    display: block;

                    font-family: 'Roboto';
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.6;
                    text-align: center;

                    padding: 5px 10px;

                    border-radius: 0 0 4px 4px;

                    transition: all .5s ease-in-out;

                    background-color: $contact-border-color;
                    color: #fff;
                }
            }
        }

        &-content {
            padding: 30px;

            border: 1px solid $block-bg-color;

            transition: all .5s ease-in-out;

            &__title {
                margin-bottom: 20px;

                transition: color .5s ease-in-out;
            }

            &__description {
                font-size: 14px;

                margin-bottom: 30px;

                transition: color .5s ease-in-out;
            }

            &-btn {

                &__link {
                    margin-right: 10px;

                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.4;
                    text-transform: capitalize;

                    color: $brand-color;

                    &:hover {
                        color: $brand-color;
                    }
                }
            }
        }

        &:hover {

            .post-section-card-img {

                &__image {
                    filter: brightness(30%);
                }
                
                &-date {

                    &__number {
                        background-color: $brand-color;
                    }

                    &__month {
                        background-color: $month-color;
                    }
                }
            }

            .post-section-card-content {
                border: 1px solid $project-block-color;

                background-color: $project-block-color;

                &__title {
                    color: $brand-color;
                }

                &__description {
                    color: #fff;
                }
            }
        }
    }

    &-buttons {
        max-width: 50px;

        margin: 0 auto;

        .carousel-control-prev,
        .carousel-control-next {
            width: 22px;
            height: 22px;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 22px;
            height: 22px;

            &:hover {
                    
                feFlood {
                    flood-color: $arrow-color;
                }
            }
        }
    }
}