.project-section {
    padding: 82px 0;

    &-header {

        &__title {
            text-transform: capitalize;

            margin-bottom: 30px;
        }

        &__description {
            max-width: 760px;

            margin-bottom: 40px;
        }

        .nav {
            margin-bottom: 40px;

            &-link {
                padding: 15px;
                margin: 5px;

                text-transform: capitalize;

                border: 1px solid $border-link-color;
                border-radius: 4px;

                color: $description-color-2;

                &:hover {
                    background-color: $brand-color;
                    color: #fff;
                }
            }
        }
    }

    &-block {
        max-width: 370px;

        margin: 0 auto;

        margin-bottom: 30px;

        &-img {
            height: 237px;

            &__chain-icon,
            &__magnifier-icon {
                cursor: pointer;

                display: none;
            }

            &__chain-icon {
                
                &:hover {
                    
                    path {
                        fill: $brand-color;
                    }
                }
            }

            &__magnifier-icon {

                &:hover {

                    feFlood {
                        flood-color: $brand-color;
                    }
                }
            }
        }

        &-img-1 {
            background: url(../img/project-img-1.png) no-repeat;
        }

        &-img-2 {
            background: url(../img/project-img-2.png) no-repeat;
        }

        &-img-3 {
            background: url(../img/project-img-3.png) no-repeat;
        }

        &-img-4 {
            background: url(../img/project-img-4.png) no-repeat;
        }

        &-img-5 {
            background: url(../img/project-img-5.png) no-repeat;
        }

        &-img-6 {
            background: url(../img/project-img-6.png) no-repeat;
        }

        &:hover {

            .project-section-block-img {
                background-blend-mode: darken;
                background-color: rgba(0, 0, 0, 0.7);

                &__chain-icon,
                &__magnifier-icon {
                    display: block;
                }
            }

            .project-section-block-content {
                background-color: $project-block-color;

                &__title {
                    color: #fff;
                }

                &__type {
                    color: $brand-color;
                }

                &:after {
                    border-bottom: 15px solid $project-block-color;
                }
            }
        }

        &-content {
            position: relative;

            max-width: 370px;

            padding: 30px;

            background-color: $block-bg-color;

            &__title {
                color: $brand-color;
            }

            &__type {
                color: $type-color;
            }

            &:after {
                content: '';

                position: absolute;
                top: -30px;
                left: 20px;

                border: 15px solid transparent;
                border-bottom: 15px solid #fff;
            }
        }
    }

    &-button {

        button {
            margin-top: 40px;
        }
    }
}