$brand-color: #c7b299;

$title-color: #555555;

$description-color: #949494;
$description-color-2: #8c8c8c;

$text-color: #615855;

$link-color: #00bff3;

$button-color: #998675;

$border-color: #736357;

$line-color: #f1eee9;

$block-bg-color: #fbfaf8;