$brand-color: #c7b299;

$title-color: #555555;

$description-color: #949494;
$description-color-2: #8c8c8c;

$text-color: #615855;

$link-color: #00bff3;

$button-color: #998675;

$border-color: #736357;
$border-link-color: #ebebeb;

$line-color: #f1eee9;

$block-bg-color: #fbfaf8;

$type-color: #d1d1d1;

$project-block-color: #362f2d;

$time-color: #bcaa95;

$arrow-color: #c9b49c;

$contact-date-color: #363636;
$contact-border-color: #252525;

$contact-section-color: #191919;
$footer-section-color: #111111;