@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  line-height: 1.2;
  color: #555555;
}

p {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.75;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

a {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.2;
  outline: none;
}

button {
  font-family: 'Raleway';
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 4px;
  cursor: pointer;
  background-color: #998675;
  color: #fff;
}

.header-section .navbar {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 100;
}

.header-section .navbar-brand {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 34px;
  line-height: 1.2;
}

.header-section .navbar-brand-text {
  color: #fff;
}

.header-section .navbar-toggler {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

.header-section .navbar .nav-link {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-transform: capitalize;
  padding: 0;
  margin: 0 14px;
  color: #fff;
}

.header-section .navbar .nav-link:hover {
  color: #c7b299;
}

.header-section .navbar .nav-link:focus {
  color: #c7b299;
}

.header-section .navbar .nav-item:last-child {
  position: relative;
}

.header-section .navbar .nav-item:last-child:hover .search-icon feFlood {
  flood-color: #c7b299;
}

.header-section .navbar .nav-item .form-control {
  position: absolute;
  top: -8px;
  right: 64px;
  padding: 0;
  width: 0;
  height: 0;
  border: none;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-section .navbar .nav-item .active {
  width: 648px;
  height: 40px;
  padding: 20px;
}

.header-section .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.header-section .carousel-indicators .active {
  border: 2px solid #c7b299;
  background-color: transparent;
}

.header-section .carousel-inner .carousel-item__image {
  max-width: 100%;
  height: 100vh;
  max-height: 1920px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.header-section .carousel-inner .carousel-item .carousel-caption {
  max-width: 630px;
  margin: 0 auto;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.header-section .carousel-inner .carousel-item .carousel-caption h2,
.header-section .carousel-inner .carousel-item .carousel-caption h1 {
  color: #fff;
}

.header-section .carousel-inner .carousel-item .carousel-caption button {
  margin-top: 40px;
}

.feature-section {
  padding: 88px 0;
}

.feature-section-block {
  margin-bottom: 40px;
  cursor: pointer;
}

.feature-section-block__image {
  margin-bottom: 30px;
}

.feature-section-block__image feFlood {
  -webkit-transition: flood-color .5s ease-in-out;
  -o-transition: flood-color .5s ease-in-out;
  transition: flood-color .5s ease-in-out;
}

.feature-section-block__title {
  margin-bottom: 22px;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.feature-section-block__description {
  margin-bottom: 30px;
  line-height: 1.7;
  color: #8c8c8c;
}

.feature-section-block__line {
  width: 70px;
  height: 3px;
  margin: 0 auto;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  background-color: #f1eee9;
}

.feature-section-block:hover .feature-section-block__image feFlood {
  flood-color: #c7b299;
}

.feature-section-block:hover .feature-section-block__title {
  color: #c7b299;
}

.feature-section-block:hover .feature-section-block__line {
  background-color: #c7b299;
}

.idea-section {
  padding-top: 84px;
  background-color: #fbfaf8;
}

.idea-section .idea-content-block h3 {
  margin-bottom: 30px;
}

.idea-section .idea-content-block p {
  max-width: 770px;
  margin: 0 auto 38px auto;
  font-size: 16px;
}

.idea-section .idea-img-block {
  position: relative;
}

.idea-section .idea-img-block__left-image {
  position: absolute;
  top: 82px;
  left: -15px;
}

.idea-section .idea-img-block__center-image {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.idea-section .idea-img-block__right-image {
  position: absolute;
  top: 82px;
  right: -15px;
}

.idea-section .idea-img-block__left-image, .idea-section .idea-img-block__center-image, .idea-section .idea-img-block__right-image {
  max-width: 100%;
  height: auto;
}

.idea-section .idea-theme-section {
  padding: 50px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.idea-section .idea-theme-section .idea-theme-block__description {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 28px;
  color: #fff;
}

.idea-section .idea-theme-section .idea-theme-block__description--colored {
  color: #c7b299;
}

.idea-section .idea-theme-section .idea-theme-block__description--blocked {
  display: block;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  color: #615855;
}

.project-section {
  padding: 82px 0;
}

.project-section-header__title {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.project-section-header__description {
  max-width: 760px;
  margin-bottom: 40px;
}

.project-section-header .nav {
  margin-bottom: 40px;
}

.project-section-header .nav-link {
  padding: 15px;
  margin: 5px;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #8c8c8c;
}

.project-section-header .nav-link:hover {
  background-color: #c7b299;
  color: #fff;
}

.project-section-block {
  max-width: 370px;
  margin: 0 auto 30px auto;
  cursor: pointer;
}

.project-section-block-img {
  height: 237px;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.project-section-block-img__chain-icon, .project-section-block-img__magnifier-icon {
  cursor: pointer;
  display: none;
}

.project-section-block-img__chain-icon:hover path {
  fill: #c7b299;
}

.project-section-block-img__magnifier-icon:hover feFlood {
  flood-color: #c7b299;
}

.project-section-block-img-1 {
  background: url(../img/project-img-1.png) no-repeat;
}

.project-section-block-img-2 {
  background: url(../img/project-img-2.png) no-repeat;
}

.project-section-block-img-3 {
  background: url(../img/project-img-3.png) no-repeat;
}

.project-section-block-img-4 {
  background: url(../img/project-img-4.png) no-repeat;
}

.project-section-block-img-5 {
  background: url(../img/project-img-5.png) no-repeat;
}

.project-section-block-img-6 {
  background: url(../img/project-img-6.png) no-repeat;
}

.project-section-block:hover .project-section-block-img {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-section-block:hover .project-section-block-img__chain-icon, .project-section-block:hover .project-section-block-img__magnifier-icon {
  display: block;
}

.project-section-block:hover .project-section-block-content {
  background-color: #362f2d;
}

.project-section-block:hover .project-section-block-content__title {
  color: #fff;
}

.project-section-block:hover .project-section-block-content__type {
  color: #c7b299;
}

.project-section-block:hover .project-section-block-content:after {
  border-bottom: 15px solid #362f2d;
}

.project-section-block-content {
  position: relative;
  max-width: 370px;
  padding: 30px;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  background-color: #fbfaf8;
}

.project-section-block-content__title {
  color: #c7b299;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.project-section-block-content__type {
  color: #d1d1d1;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.project-section-block-content:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 20px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fff;
  -webkit-transition: border .5s ease-in-out;
  -o-transition: border .5s ease-in-out;
  transition: border .5s ease-in-out;
}

.project-section-button button {
  margin-top: 40px;
}

.video-section {
  background: rgba(0, 0, 0, 0.5) url(../img/video-bg.png) no-repeat top center/cover;
  background-blend-mode: darken;
}

.video-section-content {
  max-width: 540px;
  padding: 208px 15px;
  margin: 0 auto;
}

.video-section-content__play-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 50%;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-section-content__play-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.video-section-content__title {
  margin-bottom: 30px;
  color: #fff;
}

.video-section-content__description {
  margin-bottom: 38px;
  color: #fff;
}

.video-section-content__time {
  font-family: 'Montserrat';
  line-height: 1.7;
  color: #bcaa95;
}

.video-section-content .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.mobile-section {
  padding-top: 78px;
}

.mobile-section-img__image {
  max-width: 100%;
  height: auto;
}

.mobile-section-content {
  margin-top: 20px;
}

.mobile-section-content__title {
  margin-bottom: 40px;
}

.mobile-section-content__description {
  font-size: 16px;
  margin-bottom: 46px;
}

.mobile-section-content-list__item {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 10px 60px;
  color: #8c8c8c;
}

.mobile-section-content-list__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;
  width: 21px;
  height: 21px;
  background: url(../img/mobile-arrow.png) no-repeat;
}

.stats-section {
  padding: 66px 0 16px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.stats-section-block {
  margin-bottom: 40px;
}

.stats-section-block__image {
  margin-bottom: 30px;
}

.stats-section-block__number {
  display: block;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  margin-bottom: 20px;
  color: #fff;
}

.stats-section-block__description {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #c7b299;
}

.stats-section-block__line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #fff;
}

.post-section {
  padding: 82px 0;
}

.post-section-header__title {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.post-section-header__description {
  max-width: 760px;
  margin: 0 auto 40px auto;
}

.post-section-card {
  max-width: 370px;
  margin: 0 auto;
  cursor: pointer;
}

.post-section-card-img {
  position: relative;
}

.post-section-card-img__image {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.post-section-card-img-date {
  position: absolute;
  top: 20px;
  left: 20px;
}

.post-section-card-img-date__number {
  display: block;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 24px;
  line-height: 0.8;
  text-align: center;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #363636;
  color: #fff;
}

.post-section-card-img-date__month {
  display: block;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  padding: 5px 10px;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #252525;
  color: #fff;
}

.post-section-card-content {
  padding: 30px;
  border: 1px solid #fbfaf8;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.post-section-card-content__title {
  margin-bottom: 20px;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.post-section-card-content__description {
  font-size: 14px;
  margin-bottom: 30px;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.post-section-card-content-btn__link {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: capitalize;
  color: #c7b299;
}

.post-section-card-content-btn__link:hover {
  color: #c7b299;
}

.post-section-card:hover .post-section-card-img__image {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.post-section-card:hover .post-section-card-img-date__number {
  background-color: #c7b299;
}

.post-section-card:hover .post-section-card-img-date__month {
  background-color: #a48d72;
}

.post-section-card:hover .post-section-card-content {
  border: 1px solid #362f2d;
  background-color: #362f2d;
}

.post-section-card:hover .post-section-card-content__title {
  color: #c7b299;
}

.post-section-card:hover .post-section-card-content__description {
  color: #fff;
}

.post-section-buttons {
  max-width: 50px;
  margin: 0 auto;
}

.post-section-buttons .carousel-control-prev,
.post-section-buttons .carousel-control-next {
  width: 22px;
  height: 22px;
}

.post-section-buttons .carousel-control-prev-icon,
.post-section-buttons .carousel-control-next-icon {
  width: 22px;
  height: 22px;
}

.post-section-buttons .carousel-control-prev-icon:hover feFlood,
.post-section-buttons .carousel-control-next-icon:hover feFlood {
  flood-color: #c9b49c;
}

.company-section {
  padding: 140px 0;
  background: rgba(0, 0, 0, 0.7) url(../img/company-bg.png) no-repeat top center/cover;
  background-blend-mode: darken;
}

.contact-section {
  padding: 120px 0 80px 0;
  background-color: #191919;
}

.contact-section-company-logo {
  margin-bottom: 30px;
}

.contact-section-company-logo__name {
  font-size: 34px;
  font-weight: normal;
  color: #fff;
}

.contact-section-company__description {
  margin-bottom: 30px;
  color: #555555;
}

.contact-section-company-btn__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: capitalize;
  margin-right: 10px;
  color: #c7b299;
}

.contact-section-company-btn__link:hover {
  color: #c7b299;
}

.contact-section-posts__title {
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}

.contact-section-posts-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #252525;
}

.contact-section-posts-block:hover {
  cursor: pointer;
}

.contact-section-posts-block:hover .contact-section-posts-block__date {
  color: #fff;
}

.contact-section-posts-block:hover .contact-section-posts-block__text {
  color: #c7b299;
}

.contact-section-posts-block__date {
  font-size: 12px;
  color: #363636;
}

.contact-section-posts-block__text {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}

.contact-section-twitter__title {
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}

.contact-section-twitter-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #252525;
}

.contact-section-twitter-block:last-child {
  border-bottom: none;
}

.contact-section-twitter-block__message {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}

.contact-section-twitter-block__link {
  font-size: 14px;
  font-weight: 300;
  color: #00bff3;
}

.contact-section-twitter-block__link:hover {
  color: #00bff3;
}

.contact-section-twitter-block__time {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  color: #363636;
}

.contact-section-widgets {
  max-width: 300px;
  margin: 0 auto 40px auto;
}

.contact-section-widgets__title {
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}

.contact-section-company, .contact-section-posts, .contact-section-twitter {
  max-width: 270px;
  margin: 0 auto 40px auto;
}

.footer-section {
  padding: 40px 0;
  background-color: #111111;
}

.footer-section-left__copy {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  color: #555555;
}

.footer-section-left__link {
  margin: 0 10px;
  color: #949494;
}

.footer-section-left__link:hover {
  text-decoration: none;
  color: #c7b299;
}

.footer-section-right__additional-info {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  color: #555555;
}

.footer-section-right__link {
  color: #949494;
}

.footer-section-right__link:hover {
  text-decoration: none;
  color: #c7b299;
}

@media only screen and (min-width: 320px) {
  .header-section .carousel-caption h2 {
    font-size: 16px;
  }
  .header-section .carousel-caption h1 {
    font-size: 20px;
  }
  .header-section .carousel-caption p {
    font-size: 12px;
  }
  .header-section .navbar .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #555555;
  }
  .header-section .navbar .navbar-collapse .nav-link {
    padding: 28px 0;
  }
  .header-section .navbar .navbar-collapse .nav-item:last-child {
    display: none;
  }
  .idea-section .idea-img-block__left-image, .idea-section .idea-img-block__right-image {
    display: none;
  }
  .idea-section .idea-img-block__center-image {
    position: relative;
  }
  .post-section-card-img-date {
    display: none;
  }
  .post-section-card-content {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .header-section .carousel-caption h2 {
    font-size: 24px;
  }
  .header-section .carousel-caption h1 {
    font-size: 36px;
  }
  .header-section .carousel-caption p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .post-section-card-img-date {
    display: block;
  }
  .post-section-card-content {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .header-section .carousel-caption h2 {
    font-size: 36px;
  }
  .header-section .carousel-caption h1 {
    font-size: 52px;
  }
  .header-section .carousel-caption p {
    font-size: 16px;
  }
  .header-section .navbar .navbar-collapse {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .header-section .navbar .navbar-collapse .nav-link {
    padding: 0;
  }
  .header-section .navbar .navbar-collapse .nav-item:last-child {
    display: block;
  }
  .idea-section .idea-img-block {
    height: 482px;
  }
  .idea-section .idea-img-block__left-image, .idea-section .idea-img-block__right-image {
    display: block;
  }
  .idea-section .idea-img-block__center-image {
    position: absolute;
  }
}

.container {
  max-width: 1230px;
  padding: 0 15px;
}
