@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  line-height: 1.2;
  color: #555555;
}

p {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.75;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

a {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.2;
  outline: none;
}

button {
  font-family: 'Raleway';
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 4px;
  cursor: pointer;
  background-color: #998675;
  color: #fff;
}

.header-section .navbar {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 100;
}

.header-section .navbar-brand {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 34px;
  line-height: 1.2;
}

.header-section .navbar-brand-text {
  color: #fff;
}

.header-section .navbar .nav-link {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
  margin: 0 15px;
  color: #fff;
}

.header-section .navbar .nav-link:hover {
  color: #c7b299;
}

.header-section .navbar .nav-link:focus {
  color: #c7b299;
}

.header-section .navbar .nav-item:last-child {
  position: relative;
}

.header-section .navbar .nav-item:last-child:hover .search-icon feFlood {
  flood-color: #c7b299;
}

.header-section .navbar .nav-item .form-control {
  display: none;
  position: absolute;
  top: 45px;
  right: 15px;
  width: 170px;
}

.header-section .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.header-section .carousel-indicators .active {
  border: 2px solid #c7b299;
  background-color: transparent;
}

.header-section .carousel-inner .carousel-item__image {
  max-height: 1024px;
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.header-section .carousel-inner .carousel-item .carousel-caption {
  max-width: 630px;
  margin: 0 auto;
  bottom: 220px;
}

.header-section .carousel-inner .carousel-item .carousel-caption h2,
.header-section .carousel-inner .carousel-item .carousel-caption h1 {
  color: #fff;
}

.header-section .carousel-inner .carousel-item .carousel-caption button {
  margin-top: 50px;
}

.header-section .carousel .carousel-control-prev-icon,
.header-section .carousel .carousel-control-next-icon {
  width: 40px;
  height: 70px;
}

.feature-section {
  padding: 88px 0;
}

.feature-section-block__image {
  margin-bottom: 30px;
}

.feature-section-block__title {
  margin-bottom: 22px;
}

.feature-section-block__description {
  margin-bottom: 30px;
  line-height: 1.7;
  color: #8c8c8c;
}

.feature-section-block__line {
  width: 70px;
  height: 3px;
  margin: 0 auto;
  background-color: #f1eee9;
}

.feature-section-block:hover .feature-section-block__image feFlood {
  flood-color: #c7b299;
}

.feature-section-block:hover .feature-section-block__title {
  color: #c7b299;
}

.feature-section-block:hover .feature-section-block__line {
  background-color: #c7b299;
}

.idea-section {
  padding-top: 84px;
  background-color: #fbfaf8;
}

.idea-section .idea-content-block h3 {
  margin-bottom: 30px;
}

.idea-section .idea-content-block p {
  width: 770px;
  margin: 0 auto 38px auto;
  font-size: 16px;
}

.idea-section .idea-img-block {
  position: relative;
  height: 482px;
}

.idea-section .idea-img-block__left-image {
  position: absolute;
  top: 82px;
  left: 0;
}

.idea-section .idea-img-block__center-image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.idea-section .idea-img-block__right-image {
  position: absolute;
  top: 82px;
  right: 0;
}

.idea-section .idea-theme-section {
  padding: 50px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.idea-section .idea-theme-section .idea-theme-block__description {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 28px;
  margin: 0;
  color: #fff;
}

.idea-section .idea-theme-section .idea-theme-block__description--colored {
  color: #c7b299;
}

.idea-section .idea-theme-section .idea-theme-block__description--blocked {
  display: block;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  color: #615855;
}

.project-section {
  padding: 82px 0;
}

.project-section-header h3 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.project-section-header p {
  max-width: 760px;
  margin-bottom: 40px;
}

.project-section-header .nav {
  margin-bottom: 40px;
}

.project-section-header .nav-link {
  padding: 15px;
  margin: 0 5px;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #8c8c8c;
}

.project-section-header .nav-link:hover {
  background-color: #c7b299;
  color: #fff;
}

.project-section-block {
  margin-bottom: 30px;
}

.project-section-block-img {
  width: 370px;
  height: 237px;
}

.project-section-block-img-1 {
  background: url(../img/project-img-1.png) no-repeat;
}

.project-section-block-img-2 {
  background: url(../img/project-img-2.png) no-repeat;
}

.project-section-block-img-3 {
  background: url(../img/project-img-3.png) no-repeat;
}

.project-section-block-img-4 {
  background: url(../img/project-img-4.png) no-repeat;
}

.project-section-block-img-5 {
  background: url(../img/project-img-5.png) no-repeat;
}

.project-section-block-img-6 {
  background: url(../img/project-img-6.png) no-repeat;
}

.project-section-block:hover .project-section-block-img {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-section-block:hover .project-section-block-content {
  background-color: #362f2d;
}

.project-section-block:hover .project-section-block-content__title {
  color: #fff;
}

.project-section-block:hover .project-section-block-content__type {
  color: #c7b299;
}

.project-section-block:hover .project-section-block-content:after {
  border-bottom: 15px solid #362f2d;
}

.project-section-block-content {
  position: relative;
  max-width: 370px;
  padding: 30px;
  background-color: #fbfaf8;
}

.project-section-block-content__title {
  color: #c7b299;
}

.project-section-block-content__type {
  color: #d1d1d1;
}

.project-section-block-content:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 20px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fff;
}

.project-section-button button {
  margin-top: 40px;
}

.video-section {
  background: rgba(0, 0, 0, 0.5) url(../img/video-bg.png) no-repeat top center/cover;
  background-blend-mode: darken;
}

.video-section-content {
  max-width: 540px;
  padding: 208px 0;
  margin: 0 auto;
}

.video-section-content__play-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-section-content__title {
  margin-bottom: 30px;
  color: #fff;
}

.video-section-content__description {
  margin-bottom: 38px;
  color: #fff;
}

.video-section-content__time {
  font-family: 'Montserrat';
  line-height: 1.7;
  color: #bcaa95;
}

.mobile-section {
  padding-top: 78px;
}

.mobile-section-content__title {
  margin-bottom: 40px;
}

.mobile-section-content__description {
  font-size: 16px;
  margin-bottom: 46px;
}

.mobile-section-content-list__item {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 10px 60px;
  color: #8c8c8c;
}

.mobile-section-content-list__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;
  width: 21px;
  height: 21px;
  background: url(../img/mobile-arrow.png) no-repeat;
}

.stats-section {
  padding: 66px 0 56px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.stats-section-block__image {
  margin-bottom: 30px;
}

.stats-section-block__number {
  display: block;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  margin-bottom: 20px;
  color: #fff;
}

.stats-section-block__description {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #c7b299;
}

.stats-section-block__line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
}
